@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header{
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

main{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
}